.heart {
  position: fixed;
  top: -10vh;
  font-size: 1.5rem;
  animation: fall linear;
  z-index: 9999;
  pointer-events: none;
  user-select: none;
}

@keyframes fall {
  to {
    transform: translateY(105vh);
  }
}
